{% extends 'base.html.twig' %}

{% block title %}{{'login.title'|trans}}{% endblock %}

{% block body %}
    <div class="container">
        <form method="post" class="d-flex flex-column">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    {{'login.logged_in'|trans({'%user%': app.user.username|capitalize})}}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">{{'login.title'|trans}}</h1>
            <div class="form-group">
                <label for="inputUsername">{{'login.form.username.label'|trans}}</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                    autocomplete="username" required autofocus placeholder="{{'login.form.username.placeholder'|trans}}">
            </div>
            <div class="form-group">
                <label class="form-label" for="inputPassword">{{'login.form.password.label'|trans}}</label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                    autocomplete="current-password" required placeholder="{{'login.form.password.placeholder'|trans}}">
            </div>

            <div class="form-group">
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> {{ 'login.form.remember_me'|trans }}
                    </label>
                </div>
            </div>
           
            <button class="btn btn-lg btn-primary mx-auto" type="submit">
                {{'login.submit_button'|trans}}
            </button>
        </form>
    </div>
{% endblock %}
