{% extends 'base.html.twig' %}
{% block logo %}{% endblock %}
{% block link %}{% endblock %}
{% block navigation %}
    <div class="nav-item">
        <a class="nav-link" href="{{ path('charges_index') }}">Retour</a>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <div class="form-row">
            <div class="col">{{ form_row(form.bank) }}</div>
            <div class="col">{{ form_row(form.chargeType) }}</div>
            <div class="col">{{ form_row(form.date) }}</div>
            <div class="col">{{ form_row(form.amount) }}</div>
        </div>
        <input type="submit" class="btn btn-primary" value="{{ 'form.save'|trans }}">
        {{ form_end(form) }}
    </div>
{% endblock %}

