{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}
{% block navigation %}
    <li class="nav-item">
        <a href="{{ path('admin_index') }}" class="nav-link">Retour</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('admin_users') }}" class="nav-link">Utilisateurs</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('admin_banks') }}" class="nav-link">Banques</a>
    </li>
    <li class="nav-item active">
        <a href="{{ path('admin_charge_types') }}" class="nav-link active">Types Prelevements</a>
    </li>
{% endblock %}
{% block body %}
    <div class="container pt-4">
        <h1>{{ "admin.charge_type.existing_charge_types"|trans }}</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ 'charge_type.name'|trans }}</th>
                <th scope="col">{{ 'form.delete'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for chargeType in chargeTypes %}
                <tr>
                    <th scope="row">{{ chargeType.id }}</th>
                    <td>{{ chargeType.name }}</td>
                    <td>
                        <form action="{{ path('admin_charge_types_delete') }}" method="post">
                            <button type="submit" class="btn btn-light" name="id" value="{{ chargeType.id }}">
                                <img height="26px" src="{{ asset('images/delete.svg') }}" alt="">
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h1>{{ "admin.charge_type.add_charge_type"|trans }}</h1>
        {{ form_start(form) }}
        <div class="form-row">
            <div class="col">{{ form_row(form.name) }}</div>
        </div>
        <button class="btn btn-primary" type="submit">{{ 'form.add'|trans }}</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
